target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### NetBeans ###
.cache-main  
.cache-tests  
.classpath  
.git  
.mvn  
.project  
.settings  
mvnw  
mvnw.cmd 
target
